<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width = device-width,initial-scale=1">
    <!--在此处导入-->
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <style>
        @media (min-width: 1400px) {
            .container {
                max-width: 1400px;
            }
        }

        .header {
            border-top: solid 10px black;
            text-align: left
        }

        body {
            background-color: #eee;
        }

        .menu {
            border-top: solid 5px orangered;
            background-color: white;
        }

        table td:last-child {
            width: 60px;
            text-align: center;
        }

    </style>
    <title>物品管理页面</title>
</head>
<body>
<div class="header">
    <div class="container" style="margin-left: 0;margin-top: 50px">
        <h1>Welcome,admin!</h1>
    </div>
</div>
<!--菜单栏-->
<div class="menu">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="#">快捷导航</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav nav-pills">
                    <!--<a class="nav-link active" href="#">Home <span class="sr-only">(current)</span></a>-->
                    <a class="nav-link" href="#">用户管理</a>
                    <a class="nav-link active" href="#">物品管理</a>
                    <a class="nav-link" href="#">库存管理</a>
                    <a class="nav-link" href="#">申请审批</a>
                </div>
                <div class="navbar-nav nav-pills ml-auto">
                    <a class="nav-link" href="#">注销</a>
                </div>
            </div>
        </nav>
    </div>
</div>

<!--主体-->
<div class="container">
    <div class=row>
        <!--表格-->
        <div class="col-sm-9 col-12 " style="border:none;padding: 0">
            <table id="my" class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">物品ID</th>
                    <th scope="col">物品名称</th>
                    <th scope="col">物品产地</th>
                    <th scope="col">库存数量</th>
                    <th scope="col">物品图片</th>
                    <th scope="col">选中</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input position-static" type="checkbox" id="blankCheckbox"
                                   value="option1" aria-label="...">
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <!--操作区-->
        <div class="col-sm-3 col-12" style="border:none;">
            <div class="container sticky-top" style="margin-top:10px;border: solid 3px lightblue;border-radius: 5px">
                <!--输入框-->
                <div class="row" style=" margin-top: 60px">
                    <div class="col-12 input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">Default</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Sizing example input"
                               aria-describedby="inputGroup-sizing-default">
                    </div>
                    <div class="col-12 input-group mb-3" style="margin-top: 30px">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">Default</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Sizing example input"
                               aria-describedby="inputGroup-sizing-default">
                    </div>
                </div>
                <!--按钮-->
                <div class="row" style="padding: 0; margin-top: 30px">
                    <div class="col-12">
                        <button type="button" class="btn btn-secondary btn-block">查询</button>
                    </div>
                </div>
                <div class="row" style="margin-top: 30px;margin-bottom: 50px">
                    <div class="col-4">
                        <button type="button" class="btn btn-secondary btn-block" \
                                data-toggle="modal" data-target="#addmodal">添加
                        </button>
                    </div>
                    <div class="col-4">
                        <button type="button" class="btn btn-secondary btn-block" \
                                data-toggle="modal" data-target="#confirmmodal">删除
                        </button>
                    </div>
                    <div class="col-4">
                        <button type="button" class="btn btn-secondary btn-block" \
                                data-toggle="modal" data-target="#editmodal">更改</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 固定模态框，用于确认删除 -->
<div class="modal fade" id="confirmmodal" data-backdrop="static" data-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">确认删除？</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                删除后将不可恢复
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary">确认</button>
            </div>
        </div>
    </div>
</div>

<!-- 添加的模态框 -->
<div class="modal fade" id="addmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!--模态内容-->
            <div class="modal-body">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Default</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Sizing example input"
                           aria-describedby="inputGroup-sizing-default">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Default</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Sizing example input"
                           aria-describedby="inputGroup-sizing-default">
                </div>
                <select class="form-control">
                    <option>s1</option>
                    <option>s2</option>
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!-- 修改的模态框 -->
<div class="modal fade" id="editmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Default</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Sizing example input"
                           aria-describedby="inputGroup-sizing-default">
                </div>
                <select class="form-control">
                    <option>s1</option>
                    <option>s2</option>
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" style="border: solid 2px black;height: 100px">底栏</div>
</body>
</html>