<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name = "viewport" content="width = device-width,initial-scale=1">
    <!--在此处导入-->
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
    <script src="../static/js/bootstrap.min.js"></script>
    <style>
        .row div{
            border:solid 2px black
        }
    </style>
    <title>管理员主页</title>
</head>
<body>
    <div class = "container" style="border: solid 2px black;height: 100px">欢迎语</div>
    <div class = "container-fluid" style="border: solid 2px black;height: 50px">菜单栏</div>
    <div class = "container">
        <div class = row>
            <div class = "col-sm-9 col-12 " style="border:none;padding: 0">
                列表区
            </div>
            <div class ="col-sm-3 col-12" style="border:none;padding-right: 0">
                操作区
            </div>
        </div>
    </div>
<div class="container-fluid" style="border: solid 2px black;height: 100px">底栏</div>
</body>
</html>