<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>栅格系统</title>
    <!--适应移动端-->
    <meta name = "viewport" content="width = device-width,initial-scale=1">
    <!--在此处导入-->
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
    <script src="../static/js/bootstrap.min.js"></script>
    <style>
        .row div{
            border: solid 2px red;
        }
    </style>

</head>
<body>
<!--栅格系统会将网页分为12等分-->
<!--3 ceng moni <table><tr><td  第一层指定container属性 第二层指定row属性-->
<!--所有的div如果不指定高度，默认没有高度，但是会根据内容自行调整-->
<div class = container-sm>
    <div class = row>
        <div class = "col-sm-9 col-12">你好啊！</div>
        <div class = "col-sm-3 col-12 d-none d-sm-block">我很好！</div>
    </div>
</div>

</body>
</html>